@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar style */
/* Works on Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #c4c4c4 #efefef;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  @apply bg-bmGray-100;
}

*::-webkit-scrollbar-thumb {
  @apply bg-bmGray-200;
  @apply hover:bg-bmGray-300;
}
